
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "application-generator.fullname" . }}
  labels:
    {{- include "application-generator.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "application-generator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "application-generator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "application-generator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "application-generator.fullname" . }}-auth
                  key: nextAuthSecret
            - name: NEXTAUTH_URL
              value: {{ .Values.auth.nextAuthUrl }}
            - name: GITHUB_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "application-generator.fullname" . }}-auth
                  key: githubId
            - name: GITHUB_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "application-generator.fullname" . }}-auth
                  key: githubSecret
            - name: GITLAB_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "application-generator.fullname" . }}-auth
                  key: gitlabId
            - name: GITLAB_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "application-generator.fullname" . }}-auth
                  key: gitlabSecret
            - name: GITLAB_BASE_URL
              value: {{ .Values.auth.gitlabBaseUrl | default "https://gitlab.com" }}
            {{- if .Values.auth.gitlab.insecure }}
            - name: GITLAB_INSECURE
              value: "true"
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
